<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:icecore="http://www.icefaces.org/icefaces/core"
    xmlns:ace="http://www.icefaces.org/icefaces/components"
    xmlns:ice="http://www.icesoft.com/icefaces/component"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
    <f:metadata>
        <f:viewParam name="example" value="#{ContentBean.example}" />
    </f:metadata>
    <h:head>
        <title>Single Submit - Form</title>
    </h:head>
    <h:body>
        <ace:submitMonitor blockUI="@all" idleLabel="Not currently submitting"
        activeLabel="Busy submitting to server..." for="Form" serverErrorLabel="Server error"
        networkErrorLabel="Network error"
        sessionExpiredLabel="Session expired" />
        <h:form>
            <h:panelGrid columns="3" border="0">
                <f:facet name="header">
                    <h:outputText value="User Interface for BEBoP*"/>
                    
                    
                </f:facet>
                <h:outputLabel for="language" value="Language:" />
                <h:selectOneMenu id="language" value="#{ContentBean.language}"  required="true">
                    <f:selectItem itemValue="English" />
                    <f:selectItem itemValue="Italian" />
                    
                </h:selectOneMenu>
                <h:message for="language" />
                
                <h:outputLabel for="inputfile" value="Input BPMN File:" />
                <ace:fileEntry id="inputfile"  required="true"
                fileEntryListener="#{ContentBean.sampleListener}" immediate="true"
                maxFileCount="1" maxFileSizeMessage="File size cannot exceed 1 MB" maxFileSize="1024000" />
                <h:message for="inputfile" />
                
                
                
                
                
            </h:panelGrid>
            
            
            <h:commandButton value="Submit"
                action="#{pageController.navigatePageGetAnalysis}"
                actionListener="#{ContentBean.submitButton}" >
                <f:setPropertyActionListener target="#{DataAnalysis.guidelinesfactory}"  value="#{ContentBean.guidelinesfactory}" />
                <f:setPropertyActionListener target="#{DataAnalysis.filename}"  value="#{ContentBean.filename}" />
                <f:setPropertyActionListener target="#{DataAnalysis.xmldata}"  value="#{ContentBean.filecontent}" />
            </h:commandButton>
            
            <h:commandButton value="Refresh" action="#{pageController.navigatePageCF}" immediate="true"/>
            
        </h:form>
        
        <br />
        <h:form>
            <h:panelGrid columns="2" border="0">
                <f:facet name="header">
                    Examples
                </f:facet>
                
                <c:forEach items="#{ContentBean.allResouce}" var="item" varStatus="status">
                    <h:outputLabel  value="#{item}" />
                    
                    <h:commandButton  value="Submit" action="#{pageController.navigatePageGetAnalysis}"
                        actionListener="#{ContentBean.GENExample(item)}" >
                        
                        <f:setPropertyActionListener target="#{DataAnalysis.guidelinesfactory}"  value="#{ContentBean.guidelinesfactory}" />
                        <f:setPropertyActionListener target="#{DataAnalysis.filename}"  value="#{ContentBean.filename}" />
                        <f:setPropertyActionListener target="#{DataAnalysis.xmldata}"  value="#{ContentBean.filecontent}" /></h:commandButton>
                    
                    
                </c:forEach>
                
                
            </h:panelGrid>
        </h:form>
        <br/>
        
        <p>*This work has been partially founded by <a href="http://www.learnpad.eu" target="_blank">EU project LearnPAd</a>  (GA:619583).</p>
        
        <br/>
        <br/>
        <h:panelGrid columns="2" border="0" layout="block">
            <h:panelGroup>
                <div style="width: 600px;">
                    <p align="center">
                        <a href="http://www.fmt.isti.cnr.it" target="_blank">Formal Methods &amp; Tools Group</a><br/>
                        <a href="http://www.isti.cnr.it" target="_blank">Institute of information science and technologies "Alessandro Faedo"</a><br/>  
                        <a href="http://www.cnr.it" target="_blank"><img  src="images/Logo_CNR-2010-ENG-high.png" style="height: 80px;" /></a>
                    </p>
                </div>
            </h:panelGroup>
            <h:panelGroup>
                <div style="width: 300px;">
                    <p align="center">
                        <a href="http://www.cs.unicam.it/" target="_blank">Computer Science Division</a><br/>
                        <a href="http://www.cs.unicam.it/" target="_blank">University of Camerino</a><br/>
                        <a href="http://www.unicam.it" target="_blank"><img  src="images/Logo_unicam.png" style="height: 80px; "  /></a><br/>
                    </p>
                </div>
            </h:panelGroup>
        </h:panelGrid>
        <br/>
        
        <p>Maintained by <a href="http://pros.unicam.it/" target="_blank">PROS Lab - Processes and Services Laboratory</a></p>
        
        
    </h:body>
</html>
